@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap");

/* Surah List Container */
.surah-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 15px;
  justify-content: space-evenly;
}

/* Individual Card Styling */
.surah-list-item {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.15);
  padding: 16px 16px 16px;
  box-sizing: border-box;
  width: calc(33.33% - 24px);
  min-width: 335px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* Added flexbox to vertically center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Ensures text alignment */
  height: 150px;
  /* Reduced height */
}

.surah-list-item:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

/* Responsive Layout */
@media (max-width: 1024px) {
  .surah-list-item {
    width: calc(50% - 24px);
  }
}

@media (max-width: 768px) {
  .surah-list-item {
    width: 100%;
  }
}

/* Circle Design */
.surah-list-item .circle {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  background: linear-gradient(to right, #2980b9, #1abc9c);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Surah Details Section */
.surah-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Aligns content to the top */
  width: 100%;
  /* Ensures the full width is used */
}

.surah-details .left {
  text-align: left;
  flex: 1;
}

.surah-details .right {
  text-align: right;
  /* direction: rtl; */
  flex: 1;
  /* For proper Arabic alignment */
}

/* English and Translation Styling */
.english-name {
  font-size: 18px;
  color: #333;
  margin: 0;
  font-weight: 600;
}

.translation {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  font-style: italic;
}

/* Arabic Name Styling */
.arabic-text {
  font-family: "Noto Sans Arabic", sans-serif;
  font-size: 18px;
  color: #000;
  margin: 0;
  font-weight: bold;
}

/* Ayah Count Styling */
.ayah-count {
  font-size: 14px;
  color: #888;
  margin-top: -4px;
  font-style: italic;
}

